<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd"
	  internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variable name="DLMlayout" value="${longdate} -- [${level:uppercase=true}] -- ${aspnet-request-url} -- ${message} ${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
	<variable name="App" value="api" />

	<targets>

		<target name="default" xsi:type="AsyncWrapper">
		<target xsi:type="File" name="default1" fileName="${aspnet-appbasepath}/logs/Log.txt"
				layout="${DLMlayout}" keepFileOpen="false"
					archiveFileName="${basedir}/logs/archive/${App}Log_${shortdate}.{#}.log"
					archiveAboveSize="50000520" archiveNumbering="Sequence" archiveEvery="Day"
					maxArchiveFiles="30" />
		</target>

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>
	<rules>

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Warn" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Warn" final="true" />

		<logger name="*" minlevel="Trace" writeTo="default" />
	</rules>
</nlog>